@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model UserInfoViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Gym</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    
    <!-- Hero Section -->
    <section class="bg-sky-600 text-white text-center py-6">
        <h1 class="text-4xl font-bold">Gym name...</h1>
        <div class="mt-4 flex justify-center items-center gap-4">
            <form asp-action="GetHomePage" asp-controller="Page" method="GET">
                <button type="submit" class="bg-white text-black py-2 px-4 rounded-full hover:bg-gray-200">Home</button>
            </form>
            <form asp-action="GetMembershipsPage" asp-controller="Page" method="GET">
                <button type="submit" class="bg-white text-black py-2 px-4 rounded-full hover:bg-gray-200">Memberships</button>
            </form>
            <form asp-action="GetTrainersPage" asp-controller="Page" method="GET">
                <button type="submit" class="bg-white text-black py-2 px-4 rounded-full hover:bg-gray-200">Trainers</button>
            </form>
            <form asp-action="GetGalleryPage" asp-controller="Page" method="GET">
                <button type="submit" class="bg-white text-black py-2 px-4 rounded-full hover:bg-gray-200">Gallery</button>
            </form>
            <div class="ml-16 flex justify-center items-center gap-4">
                <form asp-action="GetSignInPage" asp-controller="Page" method="GET">
                    <button type="submit" class="bg-white text-black py-2 px-4 rounded-full hover:bg-gray-200">Sign In</button>
                </form>
                <form asp-action="GetSignUpPage" asp-controller="Page" method="GET">
                    <button type="submit" class="bg-white text-black py-2 px-4 rounded-full hover:bg-gray-200">Sign Up</button>
                </form>
                <form asp-action="GetProfilePage" asp-controller="Page" method="GET">
                    <button type="submit" class="w-12 h-12 bg-white text-black text-xs p-2 rounded-full hover:bg-gray-200">Profile</button>
                </form>
            </div>
        </div>
    </section>
    
    <!-- Profile Information -->
    <section class="flex flex-col justify-center items-center container mx-auto my-12 px-6 max-w-2xl bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-4">Personal Information</h2>
        @if(Model.User != null) {
        <div id="personalInformation" class="flex flex-col justify-center items-center space-y-4">
            <img id="profilePhoto" src="@(Model.User.ProfilePhoto)" class="w-24 h-24 rounded-full object-cover"/>
            <p id="fullName"><strong>FullName: </strong>@(Model.User.FirstName) @(Model.User.LastName)</p>
            <p id="userName"><strong>UserName: </strong>@(Model.User.UserName)</p>
            <p id="aboutme"><strong></strong></p>
            @if(Model.Employee != null) {
            <p id="position"><strong>Position: </strong>@(Model.Employee.Position)</p>
            <p id="salary"><strong>Salary: </strong>@(Model.Employee.Salary)</p>
            }
            <button id="updateDivButton" class="w-32 mt-4 bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700">Update</button>
        </div>
        <form id="updateForm" class="hidden flex flex-col items-center justify-center gap-4 space-y-4" asp-action="Update" asp-controller="User" method="POST">
            <img id="profilePhoto" class="w-24', 'h-24', 'rounded-full', 'object-cover"/>
            <input type="text" name="firstName" placeholder="first name..." class="w-32 border border-gray-300 p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400">
            <input type="text" name="lastName" placeholder="last name..." class="w-32 border border-gray-300 p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400">
            <input type="text" name="userName" placeholder="username..." class="w-32 border border-gray-300 p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400">
            <div class="flex gap-4 items-center">
                <button type="button" id="cancelFormButton" class="w-8 h-8 text-center leading-8 bg-red-600 text-white rounded-lg hover:bg-red-700">X</button>
                <button type="submit" id="updateFormButton" class="w-32 h-8 text-center leading-8 bg-green-600 text-white px-4 rounded-lg hover:bg-green-700">Update</button>
            </div>

        </form>
        }
        @if(Model.Message != null) {
            <p>@(Model.Message)</p>
        }
    </section>
    
<section class="flex flex-col justify-center items-center container mx-auto my-12 px-6 max-w-2xl bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-4">Subscriptions</h2>
    
    <div class="grid grid-cols-2 gap-6">
    @if(Model.Subscriptions != null) {
        @foreach (var subscription in Model.Subscriptions)
        {
            <div class="space-y-4">
                <p><strong>Subscription: </strong> @subscription.Membership.Type</p>
                <p><strong>Duration: </strong>@subscription.Membership.Duration</p>
                <p><strong>Price: </strong>@subscription.Membership.Price</p>
                <p><strong>Start Date:</strong> @subscription.StartDate.ToString("MMMM dd, yyyy")</p>
                <p><strong>End Date:</strong> @subscription.EndDate.ToString("MMMM dd, yyyy")</p>
                <button class="mt-4 bg-red-600 text-white py-2 px-4 rounded-lg hover:bg-red-700">Cancel Subscription</button>
            </div>
        }
    }
    </div>
</section>


<script src="~/Scripts/Profile.js"></script>
</body>
</html>